<div class="container">
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <label [@jackInTheBox]="jackInTheBox" class="header-text" style="text-align: center;">Procom quiz</label>
      </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <button  [routerLink]="['/registration']" [@flash]="flash" class="btn btn-secondary btn-text-font">Register New User</button>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <button  [routerLink]="['/quiz']" [@flash]="flash" class="btn btn-secondary btn-text-font">Start the quiz</button>
    </div>
  </div>
  
</div>
